<% title = 'Listado de Informes' %>
<% hero = false %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h1-titulo"><%= title %></h1>
    <a href="/informes/ficha" class="btn-main">+ Nuevo informe</a>
  </div>
 <div class="d-flex justify-content-center mb-4">
  <form id="busqueda-form" style="max-width: 400px; width: 100%; background-color:  rgb(227, 255, 0);;">
    <div class="campo-filtro">
      <label for="busqueda">Buscar</label>
      <input type="text" id="busqueda-informes" class="form-centrado-select" placeholder="Nombre, grupo, instrumento, fecha...">
    </div>
  </form>
</div>
  <% if (informes.length === 0) { %>
    <p class="mt-4" style="text-align: center;">No hay informes disponibles.</p>
  <% } else { %>
    <div class="table-responsive">
      <table class="tabla-estilizada" id="tabla-informes">
        <thead class="table-light text-center">
          <tr>
            <th>Informe</th>
            <th>Fecha</th>
            <th>Grupo</th>
            <th>Instrumento</th>
          </tr>
        </thead>
        <tbody>
          <% informes.forEach(i => { %>
            <tr style="cursor:pointer" onclick="location.href='/informes/detalle/<%= i.id %>'">
              <td><%= i.informe %></td>
              <td><%= i.fecha %></td>
              <td><%= i.grupo %></td>
              <td><%= i.instrumento %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } %>
  <div class="volver-bloque-izquierda mt-4">
    <a href="/" class="enlace-final">← Volver al incio</a>
  </div>
</div>
</div>
<script>
  document.getElementById('busqueda-informes').addEventListener('input', function () {
    const filtro = this.value.toLowerCase().trim();
    const filas = document.querySelectorAll('#tabla-informes tbody tr');

    filas.forEach(fila => {
      const texto = fila.textContent.toLowerCase();
      fila.style.display = texto.includes(filtro) ? '' : 'none';
    });
  });
</script>
